@media (max-width: 940px) {
  body {
    font-size: 14px;
  }
  .content {
    flex-direction: column;
    text-align: center;
  }
  .section1, .section2, .services {
    width: 100%;
  }
}

.section2 img {
  max-width: 300px;
  border-radius: 50%;
  animation: bounce 10s both;
}